/* #ToDo_list{
    list-style: none;
} */

.ToDo__item{
    margin: 10px 0;
}

.ToDo__button{
    margin-left: 10px;
    border: 0;
    background: none;
    color: white;
    border: 2px solid #7f8c8d;
    border-radius: 4px;
    cursor: pointer;
}
